MP_ACCESS_TOKEN=APP_USR-887971520530856-030820-d4eea3d568bdb7daeff34912d3c4c4d5-3250432683
UALA_USERNAME=uateventos
UALA_CLIENT_ID=7iOoihyOYQoZzqn0ckof8J816BfOkdxg
UALA_CLIENT_SECRET=hPZGzanvueuwdeUGyWScWpllBsSN3YdRw05liDHbeiTtPhRe24HZq7f4nk9uAhU3
APP_URL=https://www.sorpresasreales.com/
VITE_ADMIN_PASSWORD=Dulzayunos_2026
VITE_ADMIN_EMAILS=audisiofausto@gmail.com, uateventos@gmail.com
