MP_ACCESS_TOKEN=
UALA_USERNAME=uateventos
UALA_CLIENT_ID=7iOoihyOYQoZzqn0ckof8J816BfOkdxg
UALA_CLIENT_SECRET=hPZGzanvueuwdeUGyWScWpllBsSN3YdRw05liDHbeiTtPhRe24HZq7f4nk9uAhU3
APP_URL=
VITE_ADMIN_PASSWORD=una_clave_que_solo_vos_sepas
VITE_ADMIN_EMAILS=audisiofausto@gmail.com
VITE_GOOGLE_MAPS_API_KEY=
